[user]
	name = Colton Gerke
	email = {{ .email | quote }}

[color]
	ui = auto

[url "git@github.com:"]
	pushinsteadof = https://github.com/

[pager]
	branch = cat
	config = cat

[commit]
	gpgsign = false

[pull]
	rebase = false

[core]
	quotepath = false
