{{ if ne (env "CI") "true" -}}
    {{ if eq (env "OSTYPE") "darwin" -}}
    ".work.d":
        type: "git-repo"
        url: "git@github.com:shunk031/dotfiles-private.git"
        refreshPeriod: "1h"
    {{- end }}
{{- end }}
